.heading{
    font-size: 2rem;
    font-weight: 400;
}
.btn-info{
    background-color: rgb(88, 88, 255);
    color: white;
}
.form-container{
    width: 50% !important; 
}
.form-root{
    height: 100vh !important;
}

@media all and (max-width:425px){
    .form-container{
        width: 80% !important;
    }
}